# Don't track content of these folders
out/

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# IntelliJ IDEA files #
.idea/
*.iml
*.ipr
*.iws
*.ids

# Packages #
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip